* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(224, 242, 244, 0.886);  
    /* display: flex;
    justify-content: flex-start;
    height: 100vh;
    align-items: center; */
}

.iconfont{
    font-size: 30px;
}

.menu{
    position: absolute;
    width: 65px;
    height: 550px;
    background-color: rgb(17, 24, 39);
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
    border-radius: 0.8rem;
    transition: .3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial ;
}
.menu a{
    text-decoration: none;
}

.menu .actionsBar{
    width: 100%;
    height: 10%;
    padding: .5rem;
    margin: 10px 0 0 0;
    overflow: hidden;
}

.menu .actionsBar div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    transition: .3s;
}

.menu .actionsBar div button{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    width: 45px;
    height: 45px;
    transition: .3s ease;
    font-size: 1rem;
}

.menu .actionsBar div button:hover{
    background-color: #364152;
}

.menu .optionBar{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 60%;
    padding: 0 0.5rem;
    align-items: center;
    flex-direction: column;
}

.menu .optionBar .menuItem{
    width: 100%;
    height: 45px;
    margin: .3rem;
}

.menu .optionBar .menuItem .menuOption{
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: .5rem;
    transition: .3s ease;
}

.menu .optionBar .menuItem .menuOption:hover{
    background-color: #364152;
}

.menu .optionBar .menuItem .menuOption i{
    width: 45px;
    text-align: center;
    color: #fff;
}

.menu .optionBar .menuItem .menuOption h5{
    width: calc(100% - 70px);
}

.menuText{
    color: rgba(255, 255, 255, 0.8);
    transform: translateX(-250px);
    opacity: 0;
    transition: transform .3s ease .1s;
    text-align: start;
}

.menu.open{
    width: 160px;
}

.menuText.open2{
    opacity: 1;
    transform: translateX(0);
}

.menu .menuBreak{
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .menuBreak hr{
    width: 80%;
    height: 3px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.menu .langBar{
    width: 100%;
    height: 10%;
    padding: .5rem;
    overflow: hidden;
}

.menu .langBar div{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    transition: .3s;
}

.menu .langBar div button{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    width: 45px;
    height: 45px;
    transition: .3s ease;
    font-size: 1rem;
}

.menu .langBar div button:hover{
    background-color: #364152;
}

.menu .about{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial ;
    opacity: 0;
    white-space: nowrap;
    transition: .3s ease .15s;
}

.menu .menuUser{
    width: 100%;
    height: 10%;
}

.menu .menuUser a{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding: 0.5rem;
    position: relative;
}

.menu .menuUser h5{
    font-size: 10px;
    color: #fff;
    border-style: groove;
}